CLIENT_GATEWAY_PORT=3000
PAYMENTS_PORT=3003
AUTH_PORT=3004
ORDERS_PORT=3002
ORDERS_DB_PORT=5432
PRODUCTS_PORT=3001
STRIPE_SECRET_KEY=
WEBHOOK_SECRET=
SUCCESS_URL="http://localhost:3003/api/payments/success"
CANCEL_URL="http://localhost:3003/api/payments/cancel"